<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="documents" [routerSearchState]>
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>

  <div class="row">
    <div class="col-auto mt-3">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Documents.ArchivedDocuments.Title'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Documents.ArchivedDocuments.TitleSingular'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="btn-group" *ngIf="documents && documents.selectable">
        <button [disabled]="!(documents.selected && documents.selected.length)"
          class="btn btn-outline-indigo btn-lg" type="button" (click)="publisher.publishAction()" [translate]="'Requests.Publish'">
        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-scroll">
          <button [disabled]="!(documents.selected && documents.selected.length)" class="dropdown-item" (click)="publisher.publishAction()" [translate]="'Requests.Publish'">Publish</button>
          <button [disabled]="!(documents.selected && documents.selected.length && publisher.canRevertPublication)"
            class="dropdown-item" (click)="publisher.cancelPublicationAction()"><span [translate]="'Requests.CancelPublish'"></span><i *ngIf="publisher.canRevertPublication === false" class="ml-1 fas fa-lock"></i></button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="documents.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
            <button class="dropdown-item" (click)="documents.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table [selectable]="true" [autoLoad]="false" (load)="onDataLoad($event)" [showFooter]="false" #documents></app-advanced-table>
    </div>
  </div>
  <universis-document-publisher #publisher [table]="documents"></universis-document-publisher>
  <app-document-download-routed></app-document-download-routed>
</div>