<div>
  <div class="alert alert-warning col-12" role="alert" *ngIf="!hasAcademicCardConfiguration">
    <span [translate]="'AcademicCard.Warnings.AcademicCardConfigurations'"></span><br>
  </div>
  <div class="alert alert-warning col-12" role="alert" *ngIf="!studentHasMail">
    <span [translate]="'AcademicCard.Warnings.Mail'"></span><br>
  </div>
  <div class="row">
    <div class="col-auto pl-3 align-self-center">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1" >
        <span>{{recordsTotal}}</span><span>&nbsp;</span>
        <span [translate]="'AcademicCard.AcademicCards.Title'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span>
        <span [translate]="'AcademicCard.AcademicCards.TitleSingular'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-indigo dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" [translate]="'Labels.Actions'"></button>
        <div class="dropdown-menu">
          <button [disabled]= "!this.model || hasActiveCard" class="dropdown-item"
            [translate]="'AcademicCard.addCard'" (click)="addCard()"></button>
          <button [disabled]="!this.model || !hasActiveCard" class="dropdown-item"
            [translate]="'AcademicCard.cancelActiveCard'" (click)="cancelCard()"></button>
          <button [disabled]="!this.model || !hasFailedCards" class="dropdown-item"
            [translate]="'AcademicCard.resendFailedCards'" (click)="changeStatusOfFailedCards()"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table [selectable]="false" #model [showFooter]="false" (load)="onDataLoad($event)"
        [height]="600"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
