<form class="mt-2 collapsible-form ">
    <div class="row">

        <div class="col-6">
            <div class="form-group text-dark">
                <label for="coursename" [translate]="'StudyPrograms.Νame'"></label>
                <input [disabled]="true" class="form-control bg-white" id="coursename" name="coursename"
                    type="text" [(ngModel)]="model.course.name">
            </div>
        </div>

        <div class="col-3">
            <div class="form-group text-dark">
                <label for="coursecode" [translate]="'StudyPrograms.Course.Code'"></label>
                <input [disabled]="true" class="form-control bg-white" id="coursecode" name="coursecode"
                    type="text" [(ngModel)]="model.course.displayCode">
            </div>
        </div>

        <div class="col-3">
            <div class="form-group text-dark">
                <label for="courseects">ECTS</label>
                <input [disabled]="true" class="form-control bg-white" id="courseects" name="courseects" type="text"
                    [(ngModel)]="model.course.ects">
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-3">
            <div class="form-group text-dark">
                <label for="coursesemester" [translate]="'Courses.semester'"></label>
                <input [disabled]="true" class="form-control bg-white" id="coursesemester" name="coursesemester" type="text"
                    [(ngModel)]="model.semester.alternateName">
            </div>
        </div>
        
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="coursetype" [translate]="'Courses.courseType'"></label>
                <input [disabled]="true" class="form-control bg-white" id="coursetype" name="coursetype" type="text"
                [(ngModel)]="model.courseType.abbreviation">
            </div>
        </div>

        <div class="col-3">
            <div class="form-group text-dark">
                <label for="coursedateupdate" [translate]="'StudyPrograms.GeneralInfoTab.studyLevel.dateModified'"></label>
                <input [disabled]="true" class="form-control bg-white" id="coursedateupdate" name="coursedateupdate" type="text"
                    [value]="model.course.dateModified | date : 'shortDate'">
            </div>
        </div>

    </div>

</form>