<div class="row mt-4">
  <div class="col-lg-8 col-md-7 col-12">
    <app-classes-overview-sections></app-classes-overview-sections>
    <app-classes-overview-exams></app-classes-overview-exams>
    <app-classes-overview-stats-other-registrations></app-classes-overview-stats-other-registrations>
  </div>
  <div class="col-lg-4 col-md-5 col-12">
    <app-classes-overview-general></app-classes-overview-general>
    <app-courses-overview-form [model]="class?.course" [showEdit]="false"></app-courses-overview-form>
    <app-classes-overview-stats-autoregistered></app-classes-overview-stats-autoregistered>
  </div>
  <router-modal></router-modal>
</div>
